html {
  /* background-color: #00010e; */
  background-image: url("https://i.imgur.com/5kUuaZr.png");
  background-size: cover;

}

#homeContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center; 
}