.playlistCard {
  display: flex;
  flex-direction: column;
  width: 12vw;
  height: 30vh;
  background-color: #293B74;
  border-radius: 0.5em;
  margin: 1em;
  opacity: .98;
  justify-content: center;
  align-items: center;
  border: 1px solid #151e3d;    
    
  -moz-box-shadow: inset 2px 0px 100px #293B74, inset -2px -2px 2px #151e3d;
  -webkit-box-shadow: inset 2px 0px 100px #293B74, inset -2px -2px 2px #151e3d;
  box-shadow: inset 2px 0px 100px #293B74, inset -2px -2px 2px #151e3d;
  font-family: 'Georgia';
  font-size: 20px;
  color: white;
  
}
.playlistCard:hover{
  opacity: 1;
}
.playlistName:hover{
  cursor: pointer;
  color: rgb(192, 191, 207);
}
.imageHolder{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 60%;
}
.innerPlaylist{
  width: 100%;
  height: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.playlistImage {
  height: 100%;
  width: 100%;
  border-radius: 2%;
  opacity: .8;  
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#updatePlaylistButton {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  will-change: box-shadow, transform;
  background: #FCFCFD;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  height: 30px;
  padding: 0 10px;
  font-size: 12px;
  border-radius: 6px;
  color: #36395a;
  margin-right: 10px;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

#updatePlaylistButton:hover{
  animation: updatePlaylistButton .5s forwards;
  transform: translateY(-2px);
}

@keyframes updatePlaylistButton{
  100% {color: rgb(31, 193, 29);}
} 

#removePlaylistButton {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  will-change: box-shadow, transform;
  background: #FCFCFD;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  height: 30px;
  padding: 0 10px;
  font-size: 12px;
  border-radius: 6px;
  color: #36395a;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

#removePlaylistButton:hover{
  animation: removePlaylistButton .5s forwards;
  transform: translateY(-2px);
}

@keyframes removePlaylistButton{
  100% {color: red;}
} 

.playlistName {
  word-wrap: break-word;
  font-size: 2vh;
  text-align: center;
}

.playlistMood {
  font-size: 1.5vh;
  text-align: center;
}

.playlistCardUpdateForm{
  position: relative;
    display: flex;
    justify-content: center;
    width: 3vw;
    height: 3vh;

}
#playlistUpdateFormFields{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#savePlaylistUpdate{
  width:7em
}