.playlistSong {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 4vh;
  border: .5px solid rgb(0, 0, 0);
  width: 60vw;
  color: white;
  background-color: #1C2851;
} 

.playlistSong:hover {
  background-color: #374572;
}

#songImage {
  width: 120px;
  height: 120px;
  padding: 20px;
  align-items: flex-start;
}

#playlistName {
  padding-top: 2vh;
  padding-bottom: 2vh;
  text-align: center;
}

.removeButton {
  float: right;

}
.playlistSongHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.playlistSongHeader p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

