#searchResults{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1000;
    width: 50vw;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    top: 31px;
    border-radius: .5em;
}
#searchContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
#searchInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#songSearchTitle{
    text-align: center;
}
#songSearchArtist{
    text-align: center;
}
.searchSong{
    width: 20vw;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid black;

}
.searchForm{
    display: flex;
}

#searchSongArtist{
    text-align: center;
}
#Search{
    /* padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 5%;
    padding-top: 5%; */
    font-size: 20px;
}
.removeButton{
    /* padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 5%;
    padding-top: 5%; */
}
/* .removeButton:hover{
    background-color: red;
    animation-name:removeButton;
    animation-duration: 1s;
    outline: none;
} */

@keyframes removeButton{
    0%   {background-color:#e6ebee;}
    100% {background-color: red;}
}