#searchResults{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1000;
    width: 60vw;
    height: 70vh;
    background-color: blue;
    top: 31px;
}
#searchContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.searchSong{
    width: 20vw;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.searchForm{
    display: flex;
}

#searchSongArtist{
    text-align: center;
}
#Search{
    /* padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 5%;
    padding-top: 5%; */
    font-size: 20px;
}
.removeButton{
    /* padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 5%;
    padding-top: 5%; */
}
.removeButton:hover{
    background-color: red;
    animation-name:removeButton;
    animation-duration: 1s;
    outline: none;
}

@keyframes removeButton{
    0%   {background-color:#e6ebee;}
    100% {background-color: red;}
}